fastapi[standard]
uvicorn[standard]
sqlmodel
sqlalchemy[asyncio]
aiosqlite
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[argon2]
argon2-cffi
python-multipart
slowapi
alembic
argon2
